<form method="post">
    <div class="ms-Grid">
        <div class="ms-Grid-row"></div>
        <div class="ms-Grid-row">
            <div class="ms-Grid-col">
                <div class="ms-TextField is-required">
                    <label class="ms-Label">Survey Title:</label>
                    <input id="PollTitle" class="ms-TextField-field is-required" type="text" name="title" size="62" />
                </div>
            </div>
        </div>
        
        <div class="ms-Grid-row">
            <div id="Questions" class="ms-Grid-col">
                <div class="question">
                    <div class="ms-TextField is-required">
                        <label class="ms-Label">Question:</label>
                        <textarea id="PollQuestion" class="ms-TextField-field is-required" name="questions[]"></textarea>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ms-Grid-row">
            <div class="ms-Grid-col">
                <a href="">
                    <button id="AddQuestionInput" class="ms-Button" type="button">Add Question</button>
                </a>
            </div>
        </div>
        
        <div class="ms-Grid-row">
            <div class="ms-Grid-col button-container">
                <a href="">
                    <button class="ms-Button" type="submit">Create</button>
                </a>
            </div>
        </div>
    </div>
</form>
