<style>
.ms-NavBar{
    display:none;
}
</style>    

<form id='Survey' method="post">
<div class="ms-Grid">
    <div class="ms-Grid-row">
        <span class="ms-Grid-col">    
            <p class="ms-font-l">{{survey.body.value.0.title}}</p>
            <input type="hidden" name="surveyId" value="{{survey.body.value.0.RowKey}}" />
        </span>
    </div>
    {{#each questions.body.value}}
        <div class="ms-Grid-row">
            <span class="ms-Grid-col">    
                <p>{{this.question}}</p>
                <input type="hidden" name="questionId" value="{{this.RowKey}}" />
            </span>
        </div>
        <div class="ms-Grid-row">
            <span class="ms-Grid-col">    
                <textarea class="ms-TextField-field" name="responses"></textarea>
            </span>
        </div>
    {{/each}}
    <div class="ms-Grid-row button-container">
        <span class="ms-Grid-col">      
            <button class="ms-Button" type='submit'>Submit</button>
        </span>
    </div> 
 </div>
 </form>