<script src="/../scripts/vendor/jscolor.min.js" type="text/javascript"></script> 
 
 <span class="ms-font-xxl">Create Poll</span>
 
	<div id="CreatePoll" class="ms-Grid">
	<div class="ms-Grid-row">
		<div class="ms-Grid-col">
			<form method="post">
			<div class="ms-TextField is-required">
				<label class="ms-Label">Poll Title:</label>
				<input id="PollTitle" class="ms-TextField-field is-required" type="text" name="title" size="45" />
			</div>
	
			<div class="ms-TextField is-required">
				<label class="ms-Label">Question:</label>
				<textarea id="PollQuestion" class="ms-TextField-field is-required" name="questions[]"></textarea>
			</div>
	
    		<div class="ms-TextField is-required">
				<label class="ms-Label">Answers:</label>
			</div>
	
            <div id="Answers">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="005F86" name="colors">
                    </div>
                </div>
                
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="7A9A01" name="colors">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div>
                
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="D86018" name="colors">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div>
                
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="AF272F" name="colors">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="ms-Grid-row" hidden="hidden" disabled="true">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="500778" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div><div class="ms-Grid-row" hidden="hidden">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="FFCD00" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div><div class="ms-Grid-row" hidden="hidden">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="41B6E6" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div><div class="ms-Grid-row" hidden="hidden">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="003A70" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div><div class="ms-Grid-row" hidden="hidden">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="046A48" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div><div class="ms-Grid-row" hidden="hidden">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField is-required">
                            <input class="ms-TextField-field is-required answer" name="answers" disabled="disabled"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="53565A" name="colors" disabled="disabled">
                        <a class="remove-answer"><i class="ms-Icon ms-Icon--x ms-fontColor-neutralPrimary" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        
            <div class="add-answer-container">	
                <button id="AddAnswerInput" class="ms-Button ms-Button--command" type="button">
                    <i class="ms-Icon ms-Icon--circlePlus ms-Icon-2x"></i>
                    Add Answer
                </button>
            </div>
            
            <div class="button-container">
                <button class="ms-Button ms-Button--primary" type="submit">Create</button>
            </div>
        </div>
 </form>
</div>
