<script src="/../scripts/vendor/jscolor.min.js" type="text/javascript"></script> 
 
 <span class="ms-font-xxl view-header">
    <img class='view-icon rocket' src='/../images/rocket.png'></img>
    Create Poll
 </span>
            
	<div id="CreatePoll" class="ms-Grid">
	<div class="ms-Grid-row">
		<div class="ms-Grid-col">
			<form method="post">
			<div class="ms-TextField is-required">
				<label class="ms-Label">Poll Title:</label>
				<input id="PollTitle" class="ms-TextField-field required" type="text" name="title" size="45" />
			    <label class="ms-validation"/>
            </div>
	
			<div class="ms-TextField is-required">
				<label class="ms-Label">Question:</label>
				<textarea id="PollQuestion" class="ms-TextField-field required" name="question"></textarea><br/>
                <label class="ms-validation"/>
            </div>
 
    		<div class="ms-TextField is-required">
				<label class="ms-Label">Answers:</label>
			</div>
	
            <div id="Answers">           
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField ">
                            <input class="ms-TextField-field answer required" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="004578" name="colors">
                        <i class="ms-Icon ms-Icon--x remove-answer" aria-hidden="true"></i>
                    </div>
                </div> 
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <div class="ms-TextField ">
                            <input class="ms-TextField-field answer required" name="answers"></input>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <input class="jscolor" value="106EBE" name="colors">
                        <i class="ms-Icon ms-Icon--x remove-answer" aria-hidden="true"></i>
                    </div>
                </div>    
            </div>

            <div id="Validation">
                <div class='validation'>    
                        <label class="ms-validation-answer"/>
                </div>
            </div>

            <div class="add-answer-container">	
                <button id="AddAnswerInput" class="ms-Button ms-Button--command add-answer" type="button">
                    <i class="ms-Icon ms-Icon--circlePlus ms-Icon-2x"></i>
                    Add Answer
                </button>
            </div>
            
            <div class="button-container">
                <button class="ms-Button ms-Button--primary" type="submit">Create Poll</button>
            </div>
        </div>
 </form>
</div>
