<style>
.ms-NavBar{
    display:none;
}
</style> 

<p class="ms-font-xxl">Getting Started</p>

<div class="ms-Grid">
	<div class="ms-Grid-row">
		<div class="ms-Grid-col ms-u-sm2">
            <i class="ms-Icon ms-Icon--noteEdit ms-Icon-3x ms-fontColor-themeDarkAlt"></i>
        </div>
        <div class="ms-Grid-col ms-u-sm10">
            <span class='ms-font-l ms-fontColor-themeDarkAlt'>Create a poll</span><br/>
            <span class='ms-font-s'>Quickly create a new poll with one question and
                up to 10 answers. Polar makes it easy to get started fast.          
            </span>
        </div>
    </div>
    <br/>
    <div class="ms-Grid-row">
		<div class="ms-Grid-col ms-u-sm2">
            <i class="ms-Icon ms-Icon--mail ms-Icon-3x ms-fontColor-themeDarkAlt"></i>
        </div>
        <div class="ms-Grid-col ms-u-sm10">
            <span class='ms-font-l ms-fontColor-themeDarkAlt'>Insert into email</span><br/>
            <span class='ms-font-s'>Insert the poll right to your new email, and enable
                your users to answer the poll without leaving their inbox.          
            </span>
        </div>
    </div>
    <br/>
    <div class="ms-Grid-row">
		<div class="ms-Grid-col ms-u-sm2">
            <i class="ms-Icon ms-Icon--stopwatch ms-Icon-3x ms-fontColor-themeDarkAlt"></i>
        </div>
        <div class="ms-Grid-col ms-u-sm10">
            <span class='ms-font-l ms-fontColor-themeDarkAlt'>Get instant feedback</span><br/>
            <span class='ms-font-s'>Open this email from your sent messages at anytime
                to view real-time polling results, it's that easy.        
            </span>
        </div>
    </div>
    <br/>
    <div class="ms-Grid-row">   
        <div class="ms-Grid-col button-container">
            <a href="/polls/create">
                <button class="ms-Button ms-Button--primary" type="submit">Create Poll</button>
            </a>
        </div>
    </div>
</div>