<div id="Delete-Notification" class='ms-grid'>
    <div class='ms-Grid-row'>
        <p class='ms-font-s'>
            Are you sure you want to delete this item? This action
            cannot be undone.
        </p>
    </div>
    <div class="ms-Grid-row">   
        <div class="ms-Grid-col button-container">
            <button class='ms-Button ms-Button--primary delete' type='button'>
                Delete
            </button>
        </div>
    </div>
</div>   