<div id="PreviewNotification" class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm1 ms-u-lg1">
            <i class='ms-Icon ms-Icon--flag'></i>
        </div>
        <div id="PreviewPoll" class="ms-Grid-col ms-u-sm11 ms-u-lg11 hide">    
            <span class='ms-font-m'>
                Above is a preview of what your poll will look like when you insert 
                it into an email.
            </span><br/><br/>
            <span class='ms-font-m'>
                Give it a try, and don't worry, we'll delete all your responses before
                you send it out.
            </span>
        </div>
        <div id="PreviewChart" class="ms-Grid-col ms-u-sm11 ms-u-lg11 hide">    
            <span class='ms-font-m'>
                The chart will be displayed after the user has answered the poll. Hover
                over the chart to see more details.
            </span><br/><br/>
            <span class='ms-font-m'>
                Insert the poll into your email and we'll embed the poll right into the
                add-in launcher above this message.
            </span>
        </div>
    </div>    
</div>   